.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.custom_table{
  width: 90%;
  margin:15px 5%;
  border-radius:5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-collapse: collapse;
}
.custom_table th, .custom_table td {
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin:0;
}
.custom_table th{
  font-weight: bold;
}
.custom_table tr:nth-child(2n + 2) td {
  background: rgba(0,0,0,0.015);
}
span {
    display: inline-block;
    padding: 5px 10px 4px 10px;
    border-radius:  5px;
    border: 1px solid #ccc;
    text-transform: uppercase;
}
span.in_progress{
  border-color: blue;
  color: blue;
}
span.completed{
  border-color: green;
  color: green;
}
span.suspended{
  border-color: red;
  color: red;
}